

{% extends 'layout.html' %}

{% block title %}Add{% endblock %}

{% block content %}
<head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.0/css/bootstrap.min.css" integrity="sha256-/ykJw/wDxMa0AQhHDYfuMEwVb4JHMx9h4jD4XvHqVzU=" crossorigin="anonymous" />
</head>
                    <div class="row">
                        <div class="col-xl-8 col-lg-7">
                            <div class="card shadow mb-4">
                                <!-- Card Header - Dropdown -->
                                <div
                                class="card-header py-3 d-flex flex-row align-items-center justify-content-between">

                                <form method="post" name="checkin">
                                    <label class="text-primary" class="font-weight-bold">PERSON CHECKIN: <br> </label>
                                    <br>
                                    <label for="name">PERSON NAME:</label>
                                    <input type="text" name="name" id="name">
                                    <label for="num">PERSON ID:</label>
                                    <input type="number" name="num" id="num">
                                    <label for="sro">CHECKER NAME:</label>
                                    <input type="text" name="sro" id="sro">
                                    <input type="submit" class="btn btn-success">
                                </form>


                                </div>
                            </div>
                                <!-- Card Body -->
                            </div>
                        </div>
                        <div class="row">
</html>


{% endblock %}
